/nbproject/private/
/Lab1_IT_2660/nbproject/private/
/Lab1_IT_2660/build/
/Lab2_IT_2660/nbproject/private/
/Lab2_IT_2660/build/
/Lab3_IT_2660/nbproject/private/
/Lab3_IT_2660/build/
/Lab4_IT_2660/nbproject/private/
/Lab4_IT_2660/build/